header {
  padding: 0 !important;
}

.list {
  text-align: center;
  font-size: 16px;
  justify-content: center;
  display: flex;
}

.navLink {
  padding: 0.4rem 0.6rem;
  text-decoration: none;
  color: #333;
  display: block;
}

.activeTab {
  color: indigo;
  border-bottom: 3px solid indigo;
  text-decoration: none;
}

.list a + a {
  margin-left: 1rem;
}

.screen-within-screen {
  background-color: white;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
