<!DOCTYPE html>
<html>
  <head>
    <title>Index html</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav role="navigation"></nav>
    <main role="main">
      <header role="banner">
        <h1>My Spotify Data Wireframes</h1>
      </header>
      <p>
        <a href="login.html">Login</a>
      </p>

      <p />
      <a href="homepage.html">Homepage</a>
      <p />
      <a href="manageData.html">Manage Data</a>
      <p />
      <a href="searchMyPlaylists.html">Search My Playlists</a>
      <p />
      <a href="searchMySongs.html">Search My Songs</a>
      <p />
      <a href="viewListeningHistory_Results.html">View Listening History</a>
      <p />
    </main>
  </body>
</html>
