.header1 {
  text-align: center;
}

.container {
  min-height: 200px;
  padding: 2%;
  margin: 2%;
  color: black;
  font-size: small;
  height: 100%;
  /*border: 0.2rem solid black;*/
}

.helpSection {
  margin: 10% 20% 10% 20%;
  padding: 2%;
  background-color: white;
  text-align: left;
  /*border: 0.2rem solid black;*/
}
