.mainContent {
  display: grid;
  /* TODO: Bring back when listening history filtering is implemented */
  /*grid-template-columns: 1fr 300px;
  grid-template-rows: 100px 1fr;*/
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
}

/*      
  grid-area settings:
    grid-row-start 
    grid-column-start
    grid-row-end
    grid-column-end
  */
.searchResultsContainer {
  grid-area: 1 / 1 / 3 / 1;
}

.filtersAside {
  /* TODO: Bring back when listening history filtering is implemented */
  /*grid-area: 1 / 2 / 3 / 3;*/
}

.helpText {
  font-size: medium;
  text-align: left;
}
