.loginBlock {
  text-align: center;
  margin: 0 12x 0 12px;
}

.buttonStyle {
  font-size: 20px;
}

.paragraph {
  margin: 16px 6px 16px 6px;
}

.titleMain {
  margin: 10px 0;
  text-align: center;
  font-family: "Cinzel Decorative";
  color: white;
  /*text-shadow: 0px 4px 6px #999;
  text-shadow: 0px 2px 3px darkmagenta;*/
  text-shadow: 0px 1px 2px #503;
}

.color1,
.color2,
.color3 {
  padding: 6px;
  margin: 6px;
  font-family: "Cinzel";
  list-style: none;
  text-align: center;
  /*padding: 50px 30px;*/
  font-size: 1.4em;
  color: black;
}

.container {
  /*
  background-image: url("../../images/sharon-mccutcheon-jYbKxinWQGk-unsplash.jpg");
  */
}

.color1 {
  background-color: palevioletred;
  background-color: #f4b6d8;
}

.color2 {
  background-color: paleturquoise;
  background-color: #b6b9f4;
}

.color3 {
  background-color: palegoldenrod;
  background-color: #f4f1b6;
}

.spotifyButton {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 32px;
  color: #333;
  box-shadow: 0 1px 1px -1px #666;
  background: url(../../images/background.jpg);
  background-size: cover;
}

.spotifyButton svg {
  background: white;
  border-radius: 50%;
}
