.login-block {
  text-align: center;
}

.buttonStyle {
  font-size: 20px;
  margin: 0 0 6px 0;
}

li {
  padding: 6px;
  margin: 6px;
}

.container {
  /*
  background-image: url("../../images/sharon-mccutcheon-jYbKxinWQGk-unsplash.jpg");
  */
}

.color1 {
  background-color: palevioletred;
}

.color2 {
  background-color: paleturquoise;
}

.color3 {
  background-color: palegoldenrod;
}

.spotifyButton {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 32px;
  color: #333;
  box-shadow: 0 1px 1px -1px #666;
  background: url(../../images/background.jpg);
  background-size: cover;
}

.spotifyButton svg {
  background: white;
  border-radius: 50%;
}
