.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--green);
}
.navContainer {
  display: flex; /* alt + arrow up/down */
  padding: 2% 3%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: right;
  color: var(--white);
  line-height: 35px;
  flex-wrap: wrap;
}

.navContainer a {
  margin-left: 15px;
}

.navContainer h1,
.navContainer a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.topNavContainer {
  text-align: right;
  font-size: 14px;
  padding: 4px;
  letter-spacing: 0.5px;
}
/*
.nav-items {
}*/

.title {
  margin: 0 auto 0 0;
  font-family: "Cinzel Decorative";
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.25rem;
    flex-basis: 100%;
  }
}

/*
nav,
footer {
  padding: 3%;
  background-color: #aaa;
}

nav {
}

.nav2 {
  position: static;
  margin-bottom: 50px;
}
*/

.about {
  text-align: center;
}
/*
.help {
  text-align: right;
}

.go-back {
  text-align: centers;
}
*/
